.bl-background {
    background: #cdcbcb;
    padding: 20px;
}
.inner{
    border-top: 1px solid gainsboro;
}
.bl-list {
    border-radius: 5px;
    display: inline-block;
    background: white;
    margin:25px;
    width: 630px;


}
.bl-info{
    padding: 30px;
    border-radius: 5px;
    display: inline-block;
    background: white;
    margin: 25px;

    width: 300px;

}
.input{

    width: 100%;
}
.name_of_the_product {

    padding: 10px;
    width: 200px;
    display: inline-block;

}
.buttons_amount {
    text-align: center;
    border: 1px gainsboro;
    padding: 10px;
    width: 160px;
    display: inline-block;

}
.buy_delete{

    text-align: end;
    border: 1px gainsboro;
    padding: 10px;
    width: 190px;
    display: inline-block;
}
.input_item{
    padding: 10px;
}
/*Кнопки*/
.bl-label {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background: #cdcbcb;
}
.bl-plus {
    border: none;
    height: 30px;
    width: 30px;
    background: #2eda82;
    border-radius: 15px;
    color: white;
}
.bl-minus {
    border: none;
    height: 30px;
    width: 30px;
    background: lightcoral;
    border-radius: 15px;
    color: white;
}
.add {
    width: 20%;
    padding: 5px;
    background: dodgerblue;
    color: aliceblue;
}
.delete {

    border-radius: 5px;
    height: 30px;
    width: 30px;
    background: firebrick;
    color: white;
}
.bl-bought {
    font-size: .71428571rem;
    border-radius: 5px;
    height:30px;

    background: #cdcbcb;
}

.container	{

    background:	#cdcbcb;
    width:	100%;
}
.amount-left{
    font-size: .61428571rem;
    color: white;
    padding: 5px;
    border-radius: 20px;
    height: 5px;
    width: 5px;
    background: darkorange;
}
.product{
    font-size: .71428571rem;
    padding: 5px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background: #cdcbcb;

}
.info{
    padding: 15px;
    border-bottom: 1px solid gainsboro;
}
.products-left{
    padding: 15px;
    border-bottom: 1px solid gainsboro;
}
.bought{
    padding: 15px;
    border-bottom: 1px solid gainsboro;

}
.field{
    width: 75%;
    padding: 5px;
}
.left{
    font-size: 20px;
    font-weight: bold;

}
.bought-products{
    font-size: 20px;
    font-weight: bold;
}
.bought-visualization{
    padding: 10px;
}



